<app-main-container>
    <div class="flex flex-row items-center gap-5" *ngIf="!error">
        <h1 class="title">{{ comm?.commName }} ({{ comm?.commStatus }})</h1>
    </div>
    <div class="flex flex-col gap-5">
        <p>Commodity Class: {{ comm?.commClass?.commClassName }}</p>
        <p>{{ comm?.commDescription }}</p>
    </div>

    <div class="flex flex-col gap-2 mt-6">
        <p>Date created: {{ comm?.dateCreated }}</p>
        <p>Date last modified: {{ comm?.dateLastModified }}</p>
    </div>
    <div class="flex flex-col gap-2">
        <p>Created by: {{ comm?.createdBy }}</p>
        <p>Last modified by: {{ comm?.lastModifiedBy }}</p>
    </div>

    <div class="flex flex-row gap-5">
        <app-button-link [bgColor]="'bg-secondary'" [route]="'../update/' + comm?.commId">Update</app-button-link>
        <app-button [bgColor]="'bg-secondary'" (click)="back()">Back</app-button>
    </div>
    <div *ngIf="error">
        <h1 class="title">{{ errorMessage }}</h1>
    </div>
</app-main-container>