<img src="../../../../assets/images/tooltip-question.png" width="25" height="25" data-tooltip-target="tooltip-light" data-tooltip-trigger="hover" data-tooltip-style="light" class="text-white hover:bg-primary focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-full inline-block text-sm text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" />
<div id="tooltip-light" role="tooltip" class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-lg shadow-sm opacity-0 tooltip">
    {{ value }}
    <div class="tooltip-arrow" data-popper-arrow></div>
</div>